<h1>Edit</h1>

<form class="" action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>

  <label>Description
    <input type="text" name="sub[description]" value="<%= @sub.description %>">
  </label>

  <input type="hidden" name="sub[post_ids][]" value="">

  <% Post.all.each do |post| %>
    <ul>
      <li>
        <label><%= post.title %>
          <input
            type="checkbox"
            name="sub[post_ids][]"
            value="<%= post.id %>"
            <%= "checked" if @sub.post_ids.include?(post.id) %>
          />
        </label>
      </li>
    </ul>
  <% end %>

  <input type="submit" name="" value="Update Sub">
</form>
