<h1><%= @sub.title %></h1>

<%= link_to 'Subs', subs_url %>

<% if is_moderator?(@sub) %>
  <%= link_to 'Edit', edit_sub_url(@sub.id) %>
<% end %>

<li>Description: <%= @sub.description %></li>
<li>Author: <%= @sub.moderator.username %></li>
